:root {
    --dark-blue: #0D2149;
    --light-gray: #C1CAD6;
    --ebony: #697268;
    --white: #FFFFFF;
    --black: #0C0C0C;
}

.header-fluid {
    background-color: var(--dark-blue);
    height: 60px;
}

.app-title {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 2.1rem;
    color: var(--white);
}

.form-group {
    margin-top: 20px;
    font-size: 1.6rem;
    color: var(--black);
}

.search-btn {
    padding: 7px;
    margin: 10px 0 20px 0;
    width: 100%;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--dark-blue);
    font-size: 1.4rem;
}

.saved-searches {
    border-bottom: 4px solid var(--dark-blue);
    margin-top: 10px;
    font-size: 1.4rem;
}

.main-forecast {
    color: var(--white);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-forecast-container {
    border: 1px solid var(--black);
    background-color: var(--ebony);
    border-radius: 10px;
    margin: 20px 0 25px 0;
    height: 350px;
    transition: transform 2s ease;
}

.main-forecast-container:hover {
    transform: scale(1.1);
}

h3, 
h5 {
    text-align: center;
    font-size: 1.8rem;
}

p {
    text-align: center;
    font-size: 1.4rem;
}

.daily {
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
}

.daily-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid var(--black);
    background-color: var(--ebony);
    color: var(--white);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    transition: transform 2s ease;
}

.daily-container:hover {
    transform: scale(1.6);
}

@media (max-width: 1200px) {
    .daily {
        margin: 0;
        width: 100%;
    }
}